body{
    background-color: rgb(155, 155, 155);
}



#inputs{
    display: flex;
    justify-content: center;
}



.cont{
    display: flex;
    justify-content: center;
}

#operations{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.num{
    width: 70px;
    height: 50px;
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
    border-radius: 5px;
}

.operation{
    width: 70px;
    height: 50px;
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
    border-radius: 5px;
}

.operation-separete{
    width: 87px;
}

.input{
    width: 270px;
    height: 20px;
    text-align: center;
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    border-radius: 5px;
}